<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contoh Form</title>
</head>
<body>
  <h2>Contoh Form</h2>
  <p>
    Hello {{ nama }}, jalan-jalan dulu saja,
    umurmu masih {{ umur }} tahun.<br />
    Ssstt.. Kata sandimu adalah {{ password }}. <br />
    Kamu adalah seorang
    {% if jeniskelamin == 'P' %}
      Pria.
    {% else %}
      Wanita.
    {% endif %}
    <br />
    Sekarang kamu tinggal di {{ alamat }}<br />
    Hobi kamu adalah
    {% for hobby in hobbies %}
      {{ hobby ~ ', ' }}
    {% endfor %}
    <br />
    Agamamu adalah {{ agama ~ ' ' }} <br />
    Sssttt... Kodemu adalah {{ kode }}
  </p>
</body>
</html>